<div class="navbar bg-base-100">
    <a href="{{ site.baseurl }}/" class="flex items-center ml-5">
      <img src="{{ site.baseurl }}//assets/img/brand/logo.png" class="h-16" alt="Flowbite Logo" />
    </a>
  
    <div class="md:flex space-x-10 mr-20">
      <a href="{{ site.baseurl }}/pages/app" class="btn btn-ghost ml-16">APP</a>
    </div>
    
    <div class="navbar-end md:ml-auto md:mr-10">
      <a href="{{ site.baseurl }}/pages/about" class="btn btn-ghost mr-10">ABOUT</a>
      <a href="{{ site.baseurl }}/pages/signin" class="btn btn-ghost">SIGNIN</a>
    </div>
</div>