<div class="navbar bg-base-100">
    <a href="{{ site.baseurl }}/" class="flex items-center ml-5">
      <img src="{{ site.baseurl }}/assets/images/image2.jpg" class="h-16" alt="Flowbite Logo" />
    </a>
  
    <div class="md:flex space-x-10 mr-20">
      <a href="{{ site.baseurl }}/blogs" class="btn btn-ghost ml-16">BLOGS</a>
    </div>
    
    <div class="navbar-end md:ml-auto md:mr-10">
      <a href="{{ site.baseurl }}/pages/graph_prediction" class="btn btn-ghost mr-10">PREDICTIONS</a>
      <a href="{{ site.baseurl }}/pages/profile" class="btn btn-ghost">PROFILE</a>
      <a href="{{ site.baseurl }}/pages/signin" class="btn btn-ghost">SIGNIN</a>
      <a class="btn btn-ghost" onclick="signout()">SIGNOUT</a>
    </div>
</div>
<script>
  function signout() {
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    window.location.replace("{{ site.baseurl }}/index.html");
  }
</script>