<!DOCTYPE html>
<html data-theme="light" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{site.baseurl}}/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="{{site.baseurl}}/assets/img/favicon.ico">
    <title></title>
    <!-- CSS Files -->
    <link href="{{site.baseurl}}/assets/css/main.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.3/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    {% include header-custom.html %}
    
    <main>
      <!-- <div class="w-1/4">
        {%- include sidebar.html -%}
      </div> -->
      <div>
        {{ content }}
      </div>
    </main>
  </body>
</html>